
.navigation{
    float: right;
    position: relative;
}
.home-button{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}
.socials-button{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: inline-block;
    position: relative;
}
.logo{
    text-align: start;
    display: inline-block;
}



.top-of-home {
    background-color: aqua;
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Vertically center the items */
    gap: 30px; /* Optional: add space between image and text */
    height: 100vh; /* Ensure the content is centered vertically */
    text-align: center; /* Optional: center text */
  }
  
  .start-img {
    width: 400px; /* Increase the image size */
    height: auto; /* Maintain aspect ratio */
  }
  
  #title {
    text-align: right;
    font-family: 'Arial', sans-serif; 
    font-size: 4rem; /* Increase the font size */
    font-weight: bold; /* Make the text bold */
  }